{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<h1 style="color:green;text-align:center;">Your password is one of the top 200 most common passwords in these countries:</h1>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dropdown</title>
</head>

<body>
    <form action="/" method="BACK">
        <input type = "submit" value="Back"/>
    </form>
    {% for countries in countries %}
    <tr>
      <td>{{countries}}</td>
      <br>
    </tr>
{% endfor %}

    

</body>
</html>


{% endblock content %}