{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<h1 style="color:green;text-align:center;">Welcome to password checker!</h1>
<html lang="en">
<head>
    <h>Choose your country and see the 200 most common passwords</h>
    <meta charset="UTF-8">
    <title>Dropdown</title>
</head>
<body>
    <form action="/" method="POST">
    <select name="country" method="GET" action="/">
        <option value="{{countries[0]}}" selected>{{countries[0]}}</option>
        {% for country in countries[1:] %}
          <option value="{{country}}">{{country}}</option>
        {% endfor %}
      </select>
    </br>
        <input type = "submit" value="Submit"/>
    </form>
</br>
</br>

</body>
</html>
{% endblock content %}
