{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<h1 style="color:green;text-align:center;">Top 200 most common passwords in your country!</h1>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dropdown</title>
</head>

<body>
    <form action="/dropdown" method="BACK">
        <input type = "submit" value="Back"/>
    </form>
    <tr>
        <th>Position&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>Password&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>User Count&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>Time to crack</th>
    </tr>
    <br>
    {% for ipos, ipass, iuser, icracktime in passwords -%}
    <tr>
        <td>{{ipos}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>{{ipass}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>{{iuser}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>{{icracktime}}</tr>
        <br>
    </tr>
{% endfor %}

    

</body>
</html>
{% endblock content %}