{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<h1 style="color:green;text-align:center;">Welcome to password checker!</h1>
<html lang="en">
</body>

    
    <h>Write your password and see if it is in top 200 most common passwords in any countries</h>
    <meta charset="UTF-8">
    <title>Dropdown</title>
    <form action="/search" method="POST">
            <div>
              <input id="example" type="text" name="password">
            </div>
            <div>
              <input type="submit" value="Submit">
            </div>
          </form>
          

</body>
</html>
{% endblock content %}